.menu-trigger{
	display: none;

	margin-right: 20px;
}
.menu-trigger,
.menu-trigger span {
  display: inline-block;
  transition: all .4s;
  box-sizing: border-box;
}
.menu-trigger {
  position: relative;
  width: 30px;
  height: 24px;
}
.menu-trigger span {
  position: absolute;
  left: 0;
  width: 100%;
  height: 3px;
  background-color: #fff;
  border-radius: 4px;
}
.menu-trigger span:nth-of-type(1) {
	top: 0;
}
.menu-trigger span:nth-of-type(2) {
	top: 11px;
}
.menu-trigger span:nth-of-type(3) {
	bottom: 0;
}

#menu01.active span:nth-of-type(1) {
  -webkit-transform: translateY(11px) rotate(-45deg);
  transform: translateY(11px) rotate(-45deg);
}
#menu01.active span:nth-of-type(2) {
  opacity: 0;
}
#menu01.active span:nth-of-type(3) {
  -webkit-transform: translateY(-11px) rotate(45deg);
  transform: translateY(-11px) rotate(45deg);
}

header{
	width: 100%;
	height: 40px;
	background-color: #F8AC53;	

	display: flex;
	align-items: center;
	padding-left: 24px;
	color: #fff;
	font-size: 16px;
	font-weight: bold;
}

.page{
	display: flex;
	min-height: 100vh;
}

.GrobalNav{
	width: 200px;
	min-height: 100%;

	background-color: #fff;
}
.GrobalNav_item{
}

.GrobalNav_item a{
	height: 64px;
	width: 100%;

	display: flex;
	align-items: center;

	padding-left: 30px;

	color: #8B8B8B;
	text-decoration: none;
}

.GrobalNav_item.is_Active{
	border-left: 2px solid #FD8800;

	background-color: #F3F6FA;
}
.GrobalNav_item.is_Active a{
	color: #FD8800;
}


.Main{
	width: 100%;
	padding: 40px;
}
.Main_headline{
	display: flex;
	justify-content: space-between;
}
.Main_headline_left{
	display: flex;

	font-weight: bold;
	font-size: 20px;
}
.date_move_area{
	font-size: 14px;
	font-weight: normal;
	margin-left: 24px;
}
.date_move_area > span > a{
	color: #000;
}
.select_date{
	height: 36px;
	display: flex;
}
.select_date_item{
	width: 80px;
	display: flex;
	justify-content: center;
	align-items: center;

	border: 1px solid #E7E8F2;
}
.select_date_item a{
	color: #000;
	text-decoration: none;
}
.select_date_item.is_Active{
	background-color: #F8AC53;
}
.select_date_item.is_Active > a{
	color: #fff;
}












.result_group{
	display: flex;
	margin-top: 20px;
}

.result_item{
	padding: 30px;
	width: 360px;
	background-color: #fff;

	margin-right: 30px;
}
.result_item_head{
	font-size: 18px;
	font-weight: bold;
}
.result_item_content{
	font-size: 36px;
	font-weight: bold;

	margin-top: 24px;
}

.order_table_group{
	margin-top: 30px;
}
.order_table_group p{
	font-size: 20px;
	font-weight: bold;

	margin-bottom: 20px;
}
table{
	background-color: #fff;
	width: 100%;
	text-align: center;
}

table tr:nth-child(odd){
  background-color: #F9F9F9;
}
table th,
table td{
	vertical-align: middle;
}
table tr{
	height: 60px;
}
table tr:first-child{
	background-color: #F4F4F4;
	height: 70px;
}







@media screen and (max-width: 768px){
	.page{
		padding-top: 40px;
	}
	header{
		padding-left: 10px;
		position: fixed;
		top: 0;
		left: 0;
		z-index: 1000;
	}
	.menu-trigger{
		display: block;
	}
	.Main{
		padding:20px;
		overflow-x: hidden;
	}
	.GrobalNav{
		display: none;
	}

	.GrobalNav.is_Active{
		display: block;
		position: fixed;
		top: 40px;
		left: 0;
		z-index: 1000;
	}	
	.Main.is_Active{
		position: absolute;
	}
	.select_date{
		justify-content: center;
	}
	.Main_headline_left{
		padding-top: 32px;

		text-align: center;
	}
	.date_move_area{
		margin-left: 0;

		display: flex;
		flex-direction: column;

		line-height: 2em;
		margin-top: 24px;

		align-items: center;
	}
	.date_move_area > span:nth-of-type(2){
		display: none;
	}
	.date_area{
		margin-top: 24px;
	}
	.Main_headline{
		flex-direction: column-reverse;
	}
	.result_group{
		flex-direction: column;
	}
	.result_item{
		margin-top: 22px;
		width: 100%;
	}
	.Main_headline_left{
		flex-direction: column;
	}
	.order_table_group{
		overflow-x: scroll;
	}
	table{
		width: 1200px;
	}
}





